@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f6f6;
  min-height: 100vh;
}

form input,
form button {
  padding: 0.7rem;
  font-size: 2rem;
  border: none;
  background: #c5b9fa;
}
.main-section {
  display: flex;
  height: 80vh;
}

.header {
  min-height: 5rem;
  background-color: #554bf6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.brand-name {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  color: white;
}
.hero-todos {
  flex: 1 1 60rem;
}

.hero-img {
  display: flex;
  flex: 1 1 60rem;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.the-img {
  height: 50rem;
  width: 55rem;
}
.hero-todos {
  display: flex;
  flex-direction: column;
}
.input-body {
  display: flex;
}
.input {
  height: 7rem;
  width: 50rem;
  margin-top: 3rem;
  color: white;
  font-size: 6rem;
}

.btn-add {
  height: 7rem;
  width: 7rem;
  margin-top: 3rem;
  background: #6c63ff;
  cursor: pointer;
  color: white;
  font-size: 5rem;
  text-align: center;
}
.task-container {
  display: flex;
  margin-top: 2.5rem;
}
.task {
  height: 7rem;
  width: 43rem;
  font-size: 5rem;
  background: #a39ef7;
  color: white;
  list-style: none;
}
.list-button {
  height: 7rem;
  width: 7rem;
  cursor: pointer;
}
.checked {
  text-decoration: line-through;
}
.checked-all {
  transition: all 0.5s ease;
  opacity: 50%;
}
/* Not allows to click the fav-icon */
.no-collision {
  color: white;
  font-size: 3rem;
  pointer-events: none;
}
